extends layout

block content

	h4 Who are we?
	p.aboutText
		| We are Alex Rodrigues, Surya Venkata, Warren Marivel; three University of Toronto undergraduates who 
		| are passionate about delivering solutions to real problems.
	br
	h4 What is PairIDE?
	p.aboutText
		| PairIDE is a Pair Programming web-app that we are pursuing as a Capstone project for the Department of Computer 
		| Science at the University of Toronto. 
		| It is a Nodejs based application that allows remote users to collaborate 
		| efficiently on the same software using the pair programming methodology. Our inspiration for this idea came from 
		| friends of our who pair program in google docs. That google doc experience motivates our IDE features such as 
		| syntax highlighting and validation, project management, version control, compiling and tools for effective interaction
		| between different users on the same project. The application will also be designed as an educational tool for 
		| professors to guide students through their programming homework via online office hours. No downloads or plugins are 
		| necessary. 
