extends layout

append scripts
	script(src="js/reportBug.js")
	script(src="js/jquery.validate.min.js")

block content
	h4 Contact Us
	| You can contact us anytime with feedback, or general inquiries at pairIDEuoft@gmail.com. We take your feedback seriously!
	br
	br
	h4 Report a Bug
	| Please report any bugs you may have encountered below. When reporting a bug the more detail you write in describing the bug the easier it 
	| will be to fix the problem. Information on what you were doing in the moment before the bug occured is essential. Thank you for your 
	| co-operation.
	br
	br
	if auth
		|Authenticated!
	form(method="post")#reportBugForm.form-horizontal
		Textarea(rows=5, name="bugReportBox", maxlength=1024)#reportBugBox.bugReportBox
		br
		br
		button("type=submit").btn-success.btn-medium Report Bug

	
