extends layout

block content

	h4 What is Pair Programming?
	br
	h4 Who is this website for?
	br
	h4 Whats the difference between the express session and having an account?
	br
	h4 My language isn't here, when do you plan on adding it?
	br
	h4 My question isn't here, where can I ask it?
	br
	h4 I Found a bug where can I report it?

	