extends layout

block content

	h4 What is Pair Programming?
	| Pair programming is an software development technique in which two programmers work together on a single workstation. One, the 
	| driver, writes code while the other, the observer or (sometimes called navigator), reviews each line of code as it is typed in. The two 
	| programmers switch roles frequently.
	br
	| While reviewing, the observer also considers the strategic direction of the work and the overall design, coming up with ideas for 
	| improvements and likely problems that may need to be addressed. This should free up the driver to focus all of their effort on the 
	| "tactical" aspects of completing the current task, using the observer as a guide.
	br
	h4 Who is this website for?
	| The website features an IDE supporting many languages. Any developer or student is welcome to use this as a tool for creating software.
	| While the IDE supports pair programming it does not necessarily require you to do so. For those who do find they need to work on software 
	| with a partner but can't easily meet up with them in person this application is specifically targeted to you.   
	br
	h4 Whats the difference between the express session and an account session?
	| The express session is a quick way to start developing immediately it is meant for users who are not signed in or users who do not want 
	| to save their work. If you have an account you can manage your different projects in a session and save your work.
	br
	h4 My language isn't here, when do you plan on adding it?
	| Depending on the language it may be coming soon! If you want to let us know that there is a specific language that
	| you would like to see supported. Feel free to 
	a(href="contact") contact us.
	br
	h4 I Found a bug where can I report it?
	| Please report any bugs found at 
	a(href="contact") contact us. 
	| We will make a ticket and it will get fixed as soon as possible.
	