//- This is the view displayed when the user selects forgot password.

extends layout

append scripts
	script(src="js/resetPassword.js")
	script(src="js/jquery.validate.min.js")

block content

	script
		var RecaptchaOptions = {
			theme : 'blackglass',
			lang  : 'en'
		};

	h4 Reset Password
	| Enter your registered email and we'll send you a reset link.
	br
	br
	br

	if formError
		.alert
			button(data-dismiss="alert").close
				|&times;
			if formError == 1
				|Error: Malformed Input. 
			else
				|Error: Invalid captcha input. 
			| Please try again.

	form(method="post", action="/forgot_password")#resetPasswordForm.form-horizontal

			.control-group
				label.control-label
					|Email:
				.controls
					input(type="text", name="email")#email
			.control-group
				.controls
					!= captcha
			.control-group
				.controls
					button("type=submit").btn-success.btn-medium Reset