block footer
	.container.pagination-centered
		p.muted.credit
			| Copyright &copy; 2013	 &nbsp; | &nbsp;
			a('href="tos"') Terms of Service / Privacy Policy
			| &nbsp; | &nbsp;
			a('href="/contact"') Report a Bug
