block footer
	.container.pagination-centered
		p.muted.credit
			| Copyright &copy; 2013-14 &nbsp; | &nbsp;
			a('href="tos"') Terms of Service / Privacy Policy
			| &nbsp; | &nbsp;
			a('href="bug"') Report a Bug
