ul(style="margin-left:17.2%").nav.nav-pills
    li.dropdown.active
        a(href="#",data-toggle="dropdown")#current_language.dropdown-toggle Language <b class="caret"></b> </a>
        ul#languageList.dropdown-menu
    if workspace
        li.active
            a(href="#")#compileRun Compile & Run
    li.active
        a(href="#")#switch Switch
    li.active
        span#driver.label
    li.active
        a(href="#")#anoLink
            i.icon-edit
            |Annotate