doctype 5

pages  = ["Home", "Profile", "About", "FAQ", "Contact"]

html
	head
		title= "PairIDE - " + title
		meta(name='viewport', content="width=device-width, intial-scale=1.0")
		link(rel='stylesheet', href='/stylesheets/darkstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block links

		block scripts
			script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")

	body

		block wrapper
			.container-narrow

				block header
					.masthead
						ul.nav.nav-pills.pull-right
							each page in pages
								if current == page
									li.active
										a('href'=page.toLowerCase()) #{page}
								else
									li
										a('href'=page.toLowerCase()) #{page}
						h3.muted
							| Pear
							span(style="color: #f92672") IDE
					hr
				block content
				hr
				include global-footer
