.pagination-centered

	h5 Log In

	form(action="login", method="POST")#login_form

		.control-group
			label.control-label
				| Username:
			.controls
				input(name='user', type='text', maxlength='20', placeholder="Username").input-medium

			.control-group
				label.control-label
					| Password:
				.controls
					input(name='password', type='password', maxlength='64', placeholder="Password").input-medium							

			.control-group
				.controls
					input(type='submit', value='Log In').btn.btn-medium.btn-success

			.control-group
				.controls
					a(href="/forgot_password")
						|Reset password