//- Serves as a view for generic messages such as errors or
//- success messages.

extends layout

block content

	if (type == "success")
		.alert.alert-success
			| #{notification}
	else
		.alert.alert-error
			| Error: #{notification}

	if (current == "Login")

		.row-fluid
			.span4
			.span4
				.pagination-centered
					include login