extends layout

append scripts
	script(src="js/register.js")

block content
	h1= title
	form.well
		legend Basic Form
		.field#first
			label First Name
			input(name="first", placeholder="First Name", type="text")
		.field#last
			label Last Name
			input(name="last", placeholder="Last Name", type="text")
		.field#username	
			label Username
			input(name="username", placeholder="Username", type="text", required)
		.field#email
			label Email
			input(name="email", placeholder="Email", type="text", required)
		.field#pass
			label Password
			input(name="pass", placeholder="Password", type="password", required, min="4")
			.error
		.field#confirm_pass
			label Confirm Password
			input(name="confirm_pass", placeholder="Confirm Password", type="password", required, min="4")
			.error
		button.btn(type="submit")#register Register