extends layout

append scripts
	script(src="js/reset_form.js")
	script(src="js/jquery.validate.min.js")

block content

	h4 Reset Password
	|Enter your new password.
	br
	br
	br

	form(method="post", action="/reset")#resetPasswordForm.form-horizontal

			.control-group
				label.control-label
					|New Password:
				.controls
					input(type="password", name="pass")#pass
			.control-group
				label.control-label
					|Confirm Password:
				.controls
					input(type="password", name="confirm_pass")#confirm_pass
			input(type="hidden", name="user", value="#{username}")
			input(type="hidden", name="reset_hash", value="#{reset_hash}")
			.control-group
				.controls
					button("type=submit").btn-success.btn-medium Reset