extends layout

append links
	link(rel='stylesheet', href='/codemirror/lib/codemirror.css')
	link(rel='stylesheet', href='/codemirror/theme/monokai.css')

append scripts
	script(src="/js/workspace-main.js")
	script(src="/js/bootstrap.js")
	script(src="/codemirror/lib/codemirror.js")
	script(src="/codemirror/mode/python/python.js")

block wrapper
	.container-fluid

		include workspace-header

		include header-options

		.row-fluid

			.span2.well#file_browser
				include file-browser
			
			.span8.well#code_area
				include code-area

			.span2.well#chat_area
				include chat-area

		.row-fluid
			.span12.well
				include console

		include footer-options

		hr
		include global-footer.jade