extends layout

append links
	link(href="/stylesheets/jqueryFileTree.css", rel="stylesheet", type="text/css", media="screen")
	
append scripts
	script(src="/js/workspace-main.js")
	script(src="/js/bootstrap.js")
	script(src="/js/jquery.easing.js",  type="text/javascript")
	script(src="http://malsup.github.com/jquery.form.js")
	script(src="/js/jqueryFileTree.js", type="text/javascript")
	script(src="/socket.io/socket.io.js", type="text/javascript")
	script(src="/ace/ace.js", type="text/javascript")
	script(src="/js/basesockets.js", type="text/javascript")
	if workspace
		script(src="/js/user-workspace.js", type="text/javascript")
	else
		script(src="/js/express-workspace.js", type="text/javascript")


block wrapper
	if !auth
		div(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.hide.fade#userModal
			.modal-header
				h4 Username
			.modal-body
				form(id="nameform", action="name_send", method="POST")
					input(name="username", class="well", id="username", placeholder="Your name goes here")
					input(type="submit", class="btn btn-large btn-primary", value="Start")
					p.error
			.modal-footer


	.container-fluid

		include workspace-header

		include header-options

		.row-fluid

			.span2.well#file_browser
				include file-browser
			
			.span8.well#code_area
				include code-area

			.span2.well#chat_area
				include chat-area
		.row-fluid
			.span12.well
				include console

		include footer-options

		hr
		include global-footer.jade
	if auth && auth_user
		script
			auth = true;
			username = "#{auth_user}"
	else
		script
			auth = false
	div(tabindex="-1", role="dialog", data-keyboard="false", data-backdrop="static", aria-labelledby="Annotation", aria-hidden="true").modal.hide#annotModal
			.modal-header
				h4 Add Annotation
			.modal-body
				input(name="annot_text", class="well", id="annot_text", placeholder="Annotation Text")
			.modal-footer
				a(href="#")#annotBtn.btn.btn-primary
					|Add Annotation
				a(href="#", data-dismiss="modal").btn
					|Close 