body {
padding-top:20px;
padding-bottom:40px;
}

.container-narrow {
max-width:1000px;
margin:0 auto;
}

.container-narrow > hr {
margin:30px 0;
}

.jumbotron {
text-align:center;
margin:60px 0;
}

.jumbotron h1 {
font-size:72px;
line-height:1;
}

.jumbotron .btn {
font-size:21px;
padding:14px 24px;
}

.marketing {
margin:60px 0;
}

.marketing p + h4 {
margin-top:28px;
}

#chatarea {
margin-top:30px;
padding-bottom:20px;
width:70%;
height:510px;
-moz-box-shadow:rgba(255,255,255,0.07) 1px 0 0;
-webkit-box-shadow:rgba(255,255,255,0.07) 1px 0 0;
-o-box-shadow:rgba(255,255,255,0.07) 1px 0 0;
box-shadow:rgba(255,255,255,0.07) 1px 0 0;
border-right:1px solid #121212;
border-left:none;
float:left;
}

.right-seperator{
-moz-box-shadow:rgba(255,255,255,0.07) 1px 0 0;
-webkit-box-shadow:rgba(255,255,255,0.07) 1px 0 0;
-o-box-shadow:rgba(255,255,255,0.07) 1px 0 0;
box-shadow:rgba(255,255,255,0.07) 1px 0 0;
border-right:1px solid #121212;
border-left:none;
}

#chatmsg {
width:80%;
height:300px;
overflow:auto;
}

#msg {
width:80%;
}

#userlist h5,#chatTxt {
font-variant:small-caps;
}

#editorspace {
height:600px;
}

#code {
width:98%;
height:88%;
resize:none;
}

.clear {
clear:both;
}

.errorLine {
text-decoration:none;
color:red!important;
}

.errorLine:hover {
text-decoration:none;
}

label {
font-variant:small-caps;
width:25%;
float:left;
}

.aboutText{
  text-align: justify;
}

.justify{
  text-align: justify;
}

#myModal{
  width: 700px;
  margin: -320px 0 0 -350px;;
}

.bugReportBox{
  width: 60%;
}
span.error, p.error{
  font-variant:small-caps;
  margin-left: 10px;
  color: red;
}