body {
padding-top:20px;
padding-bottom:40px;
}

.container-narrow {
max-width:1000px;
margin:0 auto;
}

#addProjectButton{
  height:32px;
  width:32px;
  background-image:url('images/32x32/add.png');
  background-repeat:no-repeat;
  float:right;
}
.projectLabel{
  font-size:16pt;
}

.container-narrow > hr {
margin:30px 0;
}

.jumbotron {
text-align:center;
margin:60px 0;
}

.jumbotron h1 {
font-size:72px;
line-height:1;
}

.jumbotron .btn {
font-size:21px;
padding:14px 24px;
}

.marketing {
margin:60px 0;
}

.marketing p + h4 {
margin-top:28px;
}

#chat_area{
  padding: 0% 1%;
}

#chatmsg {
height: 207px;
overflow:auto;
}


#msg {
width:95%;
}

#userlist h5,#chatTxt {
font-variant:small-caps;
}

#code_area {
  height: 450px;
  padding: 10px 0px;
  background: none repeat scroll 0 0 rgba(0, 136, 204, 0.2);
}

#code {
position: relative;
width:99%;
height:100%;
}

.clear {
clear:both;
}

.errorLine {
text-decoration:none;
color:red!important;
}

.errorLine:hover {
text-decoration:none;
}

label {
font-variant:small-caps;
width:25%;
float:left;
}

.aboutText{
  text-align: justify;
}

.justify{
  text-align: justify;
}

#myModal{
  width: 700px;
  margin: -320px 0 0 -350px;;
}

.bugReportBox{
  width: 60%;
  resize: none;
}
span.error, p.error{
  font-variant:small-caps;
  margin-left: 10px;
  color: #FAA732;
}

.right-seperator{
-moz-box-shadow:rgba(255,255,255,0.07) 1px 0 0;
-webkit-box-shadow:rgba(255,255,255,0.07) 1px 0 0;
-o-box-shadow:rgba(255,255,255,0.07) 1px 0 0;
box-shadow:rgba(255,255,255,0.07) 1px 0 0;
border-right:1px solid #121212;
border-left:none;
}

#file_browser{
  padding:4px;
}

.fileBrowserBox {
  width: 95%;
  height: 433px;
  background: rgba(125,125,125,0.5);
  overflow: auto;
  padding: 5px;
  border-radius: 4px 4px 4px 4px;
}

.line-style-driver{
  position: absolute;
  z-index: 5;
  background: #8EC21F;
}

.line-style-navigator{
  position: absolute;
  z-index: 5;
  background: #C2731F;
}

.ace_gutter-cell.ace_breakpoint{
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 1px 1px red inset;
    margin-right: 150px;
} 

#annot_text{
  color: #fff;
  width: 400px;
  font-size: 12px;
}

#username{
  color: white;
}

#switcherror{
  margin-top: 2%;
}

#modal_user_list li:hover{
  background: black;
  cursor:pointer;
}
